<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @name %>
    <input id="single-ingredient" type="text">
    <input id="add-button" type="button" value="add">
    <ul id="cooking-list"></ul>
    <input id="cook-button" type="button" value="cook">
    <div id="prediction-div"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
